.carDetails {
  max-width: 1440px;
  width: 100%;
  padding-top: 84px;
  padding-bottom: 104px;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
  display: flex;
  gap: 72px;

  justify-content: space-between;

  flex-wrap: wrap;
}
.carDetailsLeft {
  min-width: 320px;
}
.carDetailsRight {
  /* flex: 1; */
  min-width: 320px;
  max-width: 488px;
}
.image {
  max-width: 640px;
  width: 100%;
  height: auto;
  height: 512px;
  border-radius: 19px;
  margin-bottom: 40px;
  object-fit: cover;
}
.form {
  max-width: 640px;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  width: 100%;
  height: 488px;
}
.carInfo {
  font-weight: 600;
  font-size: 24px;

  line-height: 1.33333;
  font-family: var(--font-family);
  color: var(--main);
}
.carInfoId {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  line-height: 1.25;
  color: var(--gray);
  margin-bottom: 8px;
}
.carInfoLocation {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.carInfoLocationAddress {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  line-height: 1.25;
  color: var(--main);
  margin-left: 4px;
  margin-right: 16px;
}
.carInfoLocationMile {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  font-family: var(--font-family);
}
.carInfoPrice {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;

  line-height: 1.33333;
  color: var(--button);
  margin-bottom: 32px;
}
.carInfoDescripion {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  font-family: var(--font-family);
  margin-bottom: 68px;
}
.carInfoTitle {
  font-weight: 600;
  font-size: 20px;

  line-height: 1.2;
  color: var(--main);
  font-family: var(--font-family);
  margin-bottom: 20px;
}
.carInfoRent {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  line-height: 1.25;
  color: var(--main);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 110px;
}
.carInfoRentItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
.carInfoFA {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  line-height: 1.25;
  color: var(--main);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
