.header {
  background: var(--badges);
}

.navigation {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 68px;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  border-bottom: 1px solid var(--badges);
}

.listMenu {
  display: flex;
  gap: 32px;
}

.itemLink,
.itemLinkActive {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  transition: color var(--transition);
}

.itemLink {
  color: var(--main);
}

.itemLink:hover {
  color: var(--button-hover);
}

.itemLinkActive {
  color: var(--button-hover);
}

/* ==================== MOBILE до 375px ==================== */
@media screen and (max-width: 375px) {
  .navigation {
    padding-left: 16px;
    padding-right: 16px;
    height: 56px;
  }

  .listMenu {
    gap: 16px;
  }

  .itemLink,
  .itemLinkActive {
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

/* ==================== DESKTOP от 1440px ==================== */

@media screen and (min-width: 1440px) {
  .navigation {
    padding-left: 160px;
    padding-right: 160px;
  }

  .listMenu {
    gap: 40px;
  }

  .itemLink,
  .itemLinkActive {
    font-size: 18px;
  }
}
